@import "fuentes";
@import "body";

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(219, 219, 219);
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  width: 100%;
  overflow-x: hidden;
}

// ------- Título ------- //

.navBar-container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 0, 151);
  margin: 15px 20px 0 15px;
  border-radius: 20px;
}

.brand {
  font-style: italic;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  letter-spacing: 2px;
  margin-bottom: 0;
}

.brand-link {
  text-decoration: none;
  color: white;
  transition: 0.3s;
}

.brand-link:hover {
  color: white;
  letter-spacing: 5px;
}

// ------- Header ------- //

.menu-container {
  height: 500px;
  width: 100%;
  }


.menu-container .nav {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 0px;
  margin: 30px 30px 0px 30px;
  height: 470px;
  background-color: rgb(59, 59, 59);
  border-radius: 40px;
}

.nav-list {
  width: 100%;
  padding: 5px;
  margin: 20px 20px 20px 20px;
  display: flex;
  flex-direction: column;
}

.nav-list li {
  list-style-type: none;
  margin: 10px;
  padding: 10px;
  text-decoration: none;
  background-color: white;
  border-radius: 15px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: 0.3s;
}

.nav-link:hover {
  color: rgb(0, 0, 151);
  transform: scale(1.15);
  letter-spacing: 1.5px;
}

.nav-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

// ------- Main ------- //


.main-home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(185, 185, 185);
  color: black;
  padding: 15px;
  margin: 10px 31px 10px 31px;
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 40px;
}

.text-home {
  margin-top: 20px;
  margin-bottom: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  background-color: rgb(200, 200, 200);
  border-radius: 40px;
  color: black;
  padding: 30px;
  margin: 10px 31px 20px 31px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.title-sections {
  color: rgb(0, 0, 0);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.article-catalogo {
  margin-top: 20px;
}

.title-article-productos {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
}

.text-sections {
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  color: rgb(0, 0, 0);;
  margin: 0px 20px 30px 20px;
}

.catalogo-productos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.text-catalogo {
  font-size: 20px;
}

.marca-catalogo {
  display: flex;
  flex-direction: column;
  height: 80px;
  gap: 10px;
}

.title-catalogo{
  font-size: 18px;
}

.link-catalogo {
  font-size: 15px;
  text-decoration: none;
}

.image-sections {
  width: 100%;
  height: 220px;
  border-radius: 20px;
}


.card {
  background-color: rgb(131, 131, 122);
  border: 1px;
  height: 100px;
  width: 50px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  font-size: 22px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.5px;
  gap: 20px;
}

.form-list {
  width: 100%;
  list-style-type: none;
  text-align: center;
  display: grid;
  padding-left: 0;
  gap: 20px;
}

.form-title {
  margin-bottom: 0px;
  font-weight: 500;
}

.form-label {
  color: black;
  font-weight: 400;
}

.input {
  height: 37px;
  font-size: 18px;
  padding-left: 7px;
  border-color: transparent;
  border-radius: 10px;
}

.textarea {
  font-size: 18px;
  padding-left: 7px;
  height: 140px;
  border-color: transparent;
  border-radius: 10px;
}

.input-radio {
  height: 15px;
  width: 15px;
}

.input-square {
  height: 20px;
  width: 20px;
}

.input-option {
  width: 80px;
  font-size: 18px;
  height: 35px;
  border-color: transparent;
  border-radius: 10px;
  padding-left: 10px;
}

.form-div-title{
  margin-bottom: 15px;
  font-weight: 500;
}

.form-div {
  margin-top: 10px;
}

.form-button {
  background-color: rgb(255, 255, 255);
  width: 180px;
  height: 40px;
  border: none;
  font-size: 22px;
  font-weight: 450;
  text-decoration: none;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.home-image {
  width: 100%;
  height: 220px;
  margin: 0px 20px 30px 20px;
}

// ------- Footer ------- //

#footer-container {
  display: flex;
  flex-direction: column;
  color: white;
  background-color: rgb(157, 157, 157);
  padding: 0px 20px 0px 20px;
  margin: 20px 31px 20px 31px;
  border-radius: 40px;
}

#footer-container h2 {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 15px 0px 20px 0px;
}

.info-footer-container {
  display: flex;
  flex-direction: column;
  margin: 30px 10px 30px 10px;
  padding-left: 0;
  gap: 10px;
}

.info-footer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.icon-footer {
  height: 28px;
  width: 28px;
}

.text-footer {
  font-size: 18px;
}

.link-footer {
  text-decoration: none;
  color: black;
}

// ------- Media ------- //

@media (min-width: 768px) {

  .brand {
    font-size: 24px;
  }

  .main-home {
    padding-left: 50px;
    padding-right: 50px;
  }

  .title-sections {
    font-size: 26px;
  }

  .article-catalogo {
    margin-top: 30px;
  }

  .text-catalogo {
    font-size: 18px;
  }
  
  .marca-catalogo {
    height: 80px;
    gap: 20px;
  }

  .title-article-productos {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .title-catalogo{
    font-size: 20px;
  }
  
  .link-catalogo {
    font-size: 18px;
  }

  .form-container {
    padding-left: 100px;
    padding-right: 100px;
  }
  
  .input {
    font-size: 20px;
    height: 40px;
  }
  
  .textarea {
    font-size: 20px;
    height: 180px;
  }

  .image-sections {
    height: 450px;
    width: 650px;
  }

  .icon-footer {
    height: 30px;
    width: 30px;
  }
  
}

@media (min-width: 1024px) {

  .navBar-container {
    display: flex;
    justify-content: flex-start;
  }

  .brand {
    font-size: 28px;
    margin-left: 40px;
  }
  
  .menu-container {
    height: 230px;
  }

  .menu-container .nav { 
    height: 200px;
    margin: 30px 30px 30px 30px;
  }

  .nav-list {
    width: 100%;
    height: 50px;
    padding: 10px 0px 10px 0px;
    margin: 15px 20px 15px 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }

  .nav-list li {
    height: 50px;
    padding: 10px;
  }

  .main-home {
    padding-left: 250px;
    padding-right: 250px;
  }

  .section {
    padding-left: 250px;
    padding-right: 250px;
  }

  .title-sections {
    font-size: 28px;
  }

  .article-catalogo {
    margin-top: 70px;
  }

  .title-article-productos {
    font-size: 28px;
    margin-bottom: 40px;
  }

  .text-catalogo {
    font-size: 20px;
  }
  
  .marca-catalogo {
    flex-direction: row;
    height: 50px;
    gap: 25px;
  }
  
  .title-catalogo{
    font-size: 22px;
  }
  
  .link-catalogo {
    font-size: 20px;
    text-decoration: none;
  }

  .form-container {
    padding-left: 300px;
    padding-right: 300px;
  }
  
  .input {
    font-size: 22px;
  }
  
  .textarea {
    font-size: 22px;
    height: 200px;
  }

  .image-sections {
    height: 650px;
    width: 850px;
  }

  .icon-footer {
    height: 32px;
    width: 32px;
  }
  
}